@model MvcApplication1.Models.usuarioModel

@{
    Layout = "~/Views/MasterIntranet.cshtml";
    ViewBag.Title = "AgregarUsuario";
}

<section class="content-header">
    <h1>
        Agregar Usuario
        <small>Registrar nuevo usuario del sistema.</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-group"></i> Inicio</a></li>
        <li><a href="#"><i></i> Usuarios</a></li>
        <li class="active">Agregar Usuario</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            @if (@ViewBag.mensaje!=null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> @ViewBag.mensaje</h4>
                </div>
            }
        </div>    
     </div>        
    <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Agregar Usuario</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("AgregarUsuario", "Usuario", FormMethod.Post, new { id = "agregarUsuarioForm", @class = "form-horizontal" }))
                { 
                  <div class="box-body">
                    <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">Tipo Usuario:</label>
                      <div class="col-sm-9">
                          @Html.DropDownListFor(m => m.idTipoUsuario, new SelectList(Model.listaTipoUsuario, "idTipoUsuario", "tipo"), "Seleccione..", new { title = "Selecione tipo.", id = "tipo", @class="form-control", required="true", @onchange = "javascript:GetCity(this.value);" })
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="nombre" class="col-sm-3 control-label">Nombre:</label>
                      <div id="nombreDiv" class="col-sm-9">
                          
                        <select id="nombre" name="nombre" title = "Selecione Usuario." class="form-control" required>

                        </select>
                      </div>
                    </div>
                      <script language="javascript" type="text/javascript">
                          function GetCity(_tipoId) {
                              var procemessage = "<option value=''> Cargando...</option>";
                              $("#nombre").html(procemessage).show();
                              var url = "/Usuario/GetUsuarioByTipoId/"+_tipoId;
                              $.ajax({
                                  url: url,
                                  data: { tipoid: _tipoId },
                                  cache: false,
                                  type: "POST",
                                  success: function (data) {
                                      var markup = "<option value=''>Seleccione persona...</option>";
                                      for (var x = 0; x < data.length; x++) {
                                          markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                      }
                                      $("#nombre").html(markup).show();
                                  },
                                  error: function (reponse) {
                                      alert("error : " + reponse);
                                  }
                              });

                          }
                      </script>

                      <div class="col-md-12">
                          <div class="box box-solid">
                            <div class="box-header with-border">
                              <h3 class="box-title">Usuario</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                  <label for="apellidoPaterno" class="col-sm-4 control-label">Usuario:</label>
                                  <div class="col-sm-8">
                                      @Html.TextBoxFor(m => m.usuario, new { @class = "form-control", placeholder="Usuario", id="usuario", required="true"})
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="apellidoMaterno" class="col-sm-4 control-label">Contraseña:</label>
                                  <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.password, new { @class = "form-control", placeholder="Contraseña", id="password", required="true", @type="password"})
                                  </div>
                                </div>
                            </div><!-- /.box-body -->
                          </div><!-- /.box -->
                        </div><!-- /.col (right) -->
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">Registrar Usuario</button>
                  </div><!-- /.box-footer -->
                }
              </div><!-- /.box -->
           </div><!-- /.col6 -->

           <div class="col-md-6">
              <!-- Horizontal Form -->
              
           </div><!-- /.col6 -->
        </div><!-- /.row -->
</section><!-- /.content -->
